* {
    margin: 0;
    padding: 0;
}

/* скрываем чекбоксы и блоки с содержанием */

.hide,
.hide+label~div {
    display: none;
}


/* вид текста label */

.hide+label,
.hide:checked+label {
    padding: 0;
    color: green;
    cursor: pointer;
    border-bottom: 1px dotted green;
}


/* вид текста label при активном переключателе */

.hide:checked+label {
    color: red;
    border-bottom: 0;
}


/* когда чекбокс активен показываем блоки с содержанием  */

.hide:checked+label+div {
    display: block;


}

.collapse {
    background: #E7E7E7;
}

.calendar {
    -webkit-column-count: 3;
    /* Chrome, Safari, Opera */
    -moz-column-count: 3;
    /* Firefox */
    column-count: 3;
    padding: 10px;

    background: #f4f4f4;
    position: relative;
}

.calendar3 {
    background: #f4f4f4;
    padding: 10px;
}

.p:hover {
    color: #1c1c1c;
}

.navbar-brand2 {
    font-size: 15px;
    padding-right: 70px;
    text-align: center;
}

.pn {
    color: #2B82F9;
    font-family: 'Trebuchet MS';
    font-size: 15px;

}

a {
    color: #4f4f4f;
}

a:hover {
    color: #1c1c1c;
}

.zapis {
    margin: 1px;
    padding: 20px;
    font-size: 15px;
    color: #737373;
}

#msg {
    font-size: 15px;
}

#msg2 {
    font-size: 15px;
}

.a {
    color: #fff;
    background: rgb(212, 75, 56);
    width: 57px;
    height: 23px;
}

.a:hover {
    opacity: 0.6;
    background: red;
}

.b {
    color: #fff;
    background: rgb(255, 165, 0);
    width: 57px;
    height: 23px;

}

.b:hover {
    opacity: 0.6;
    background: rgb(255, 165, 0);
}

.c {
    color: #fff;
    background: rgb(28, 184, 65);
    width: 57px;
    height: 23px;
}

.c:hover {
    opacity: 0.6;
    background: green;
}

.d {
    color: #fff;
    background: rgb(128, 0, 128);
    width: 57px;
    height: 23px;
}

.d:hover {
    opacity: 0.6;
    background: rgb(128, 0, 128);
}

.e {
    color: #fff;
    background: rgb(192, 192, 192);
    width: 57px;
    height: 23px;
}

.e:hover {
    opacity: 0.6;
    background: rgb(192, 192, 192);
}


.h {
    color: #fff;
    background: rgb(225, 225, 225);
    width: 57px;
    height: 23px;
    color: black;
}

.h:hover {
    background: #b5b5b5;
    color: #1c1c1c;
}

details>a:hover {
    background: #9d9d9d;
}

details>summary {
    cursor: pointer;
    background: #e7e7e7;
    margin: 1px;
    padding: 20px;
    font-size: 15px;
    color: #737373;
}

details>summary:hover {
    background: Lavender;
}

details>a:hover {
    background: #9d9d9d;
}

details>a {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 13px;
    margin: 2px 2px 2px 20px;
    padding: 6px;
    background: #9d9d9d;

    font-size: 14px;
}

/* Кнопки для загрузки дней рождениев === */

.input-file {
    position: relative;
    margin: 0 20px 0
}

/* Remove margin, it is just for stackoverflow viewing */
.input-file .input-group-addon {
    border: 0px;
    padding: 0px;
}

.input-file .input-group-addon .btn {
    border-radius: 0 4px 4px 0
}

.input-file .input-group-addon input {
    cursor: pointer;
    position: absolute;
    width: 72px;
    z-index: 2;
    top: 0;
    right: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    background-color: transparent;
    color: transparent;
}




/* для корректного отображения новигации верхних строк */
body {
    margin-top: 50px;
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
}

.sui-cell {
    font-family: 'Trebuchet MS';
}

/* Nav Messages */
.messages-dropdown .dropdown-menu .message-preview .avatar,
.messages-dropdown .dropdown-menu .message-preview .name,
.messages-dropdown .dropdown-menu .message-preview .message,
.messages-dropdown .dropdown-menu .message-preview .time {
    display: block;
}

.messages-dropdown .dropdown-menu .message-preview .avatar {
    float: left;
    margin-right: 15px;
}

.messages-dropdown .dropdown-menu .message-preview .name {
    font-weight: bold;
}

.messages-dropdown .dropdown-menu .message-preview .message {
    font-size: 12px;
}

.messages-dropdown .dropdown-menu .message-preview .time {
    font-size: 12px;
}

body {
    font-family: 'Trebuchet MS';
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #428bca;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.navbar-inverse {
    background-color: #e7e7e7;
    border-color: #e7e7e7;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #428bca;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    color: #fff;
    background-color: #428bca;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header {
        border-color: #DFF0D9;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #428bca;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #999;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #fff;
        background-color: transparent;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #fff;
        background-color: #428bca;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus {
        color: #444;
        background-color: transparent;
    }
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
    background-color: #9d9d9d;
}

/* Nav Announcements */
.alerts-heading {
    font-size: 50px;
    margin: 0;
}

.alerts-text {
    margin: 0;
}

/* Table Headers */
table.tablesorter thead {
    cursor: pointer;
}

table.tablesorter thead tr th:hover {
    background-color: #f5f5f5;
}

/* Edit Below to Customize Widths > 768px */
@media (min-width:768px) {
    /* Wrappers */

    #page-wrapper {
        padding: 20px 20px;
    }

    /* Side Nav */
    .side-nav {
        margin-left: -225px;
        left: 225px;
        width: 255px;
        position: fixed;
        top: 50px;
        height: 100%;
        border-radius: 0;
        border: none;
        background-color: #F3F3F3;
        overflow-y: auto;
    }

    /*menu overrides*/
    .side-nav>li.dropdown>ul.dropdown-menu {
        position: relative;
        min-width: 225px;
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    .side-nav>li.dropdown>ul.dropdown-menu>li>a {
        color: #999999;
        padding: 15px 15px 15px 25px;
    }

    .side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,
    .side-nav>li.dropdown>ul.dropdown-menu>li>a.active,
    .side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
        color: #fff;
        background-color: #428bca;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .navbar-inverse .navbar-nav>li>a:hover,
    .navbar-inverse .navbar-nav>li>a:focus {
        background-color: #9d9d9d;
    }

    /* Nav Messages */
    .messages-dropdown .dropdown-menu {
        min-width: 300px;
    }

    .messages-dropdown .dropdown-menu li a {
        white-space: normal;
    }

    .navbar-collapse {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

/* грид настройка отображения */

#grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(406px, 416px));
}

#grid>div {
    padding: .2em;
}

@media screen and (max-width: 406px) {
    #grid {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, 294px);

    }

    #grid>div {
        padding: .5em;
    }


    .a {
        color: #fff;
        background: rgb(212, 75, 56);
        width: 40px;
        height: 23px;
    }

    .a:hover {
        opacity: 0.6;
        background: red;
    }

    .b {
        color: #fff;
        background: rgb(255, 165, 0);
        width: 40px;
        height: 23px;

    }

    .b:hover {
        opacity: 0.6;
        background: rgb(255, 165, 0);
    }

    .c {
        color: #fff;
        background: rgb(28, 184, 65);
        width: 40px;
        height: 23px;
    }

    .c:hover {
        opacity: 0.6;
        background: green;
    }

    .d {
        color: #fff;
        background: rgb(128, 0, 128);
        width: 40px;
        height: 23px;
    }

    .d:hover {
        opacity: 0.6;
        background: rgb(128, 0, 128);
    }

    .e {
        color: #fff;
        background: rgb(192, 192, 192);
        width: 40px;
        height: 23px;
    }

    .e:hover {
        opacity: 0.6;
        background: rgb(192, 192, 192);
    }


    .h {
        color: #fff;
        background: rgb(225, 225, 225);
        width: 40px;
        height: 23px;
        color: black;
    }

}

;